# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
path = "weather.csv"

gmaps_df = pd.read_csv(path)

gmaps_df

,Unnamed: 0,City,Cloudiness,Country,Humidity,Latitude,Longitude,Max Temp,Windspeed
0,0,Bengkulu,98,ID,82,-3.80,102.27,298.62,1.11
1,1,Dikson,94,RU,96,73.51,80.55,261.90,4.89
2,2,Sept-Îles,90,CA,48,50.20,-66.38,277.15,8.20
3,3,Atuona,71,PF,78,-9.80,-139.03,300.76,7.38
4,4,Qaanaaq,9,GL,73,77.48,-69.36,253.57,3.03
...,...,...,...,...,...,...,...,...,...
561,561,Morondava,0,MG,80,-20.28,44.28,299.23,4.92
562,562,Bilma,18,NE,12,18.69,12.92,299.67,3.46
563,563,Ocampo,4,MX,11,21.65,-101.50,300.26,5.65
564,564,Bowen,40,AU,88,-20.02,148.23,297.59,4.60
565,565,Port-Gentil,31,GA,82,-0.72,8.78,300.88,5.21

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
gmaps.configure(api_key=g_key)
map_df = gmaps_df[['Latitude','Longitude']]

In [17]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(map_df, weights = gmaps_df['Humidity'], dissipating = False,                                     max_intensity=100, point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
#A max temperature lower than 80 degrees but higher than 70
#Wind speed less than 10 mph
#Zero cloudiness.
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal


favorable_df = gmaps_df.loc[ (gmaps_df['Cloudiness'] == 0) ]
#(gmaps_df['Max Temp'] >= 70) & (gmaps_df['Max Temp'] <= 80) & (gmaps_df['Windspeed'] <= 10) &
favorable_df = favorable_df.dropna()
favorable_df

,Unnamed: 0,City,Cloudiness,Country,Humidity,Latitude,Longitude,Max Temp,Windspeed
9,9,Tura,0,IN,34,25.52,90.22,295.19,1.09
19,19,Niquero,0,CU,48,20.04,-77.58,302.68,3.76
38,38,Nālūt,0,LY,28,30.33,10.85,288.32,0.39
43,43,Athani,0,IN,48,16.73,75.07,297.74,2.25
46,46,Arraial do Cabo,0,BR,61,-22.97,-42.03,301.15,5.10
77,77,Maţāy,0,EG,52,28.42,30.78,292.55,8.98
80,80,Verkhotur'ye,0,RU,96,58.86,60.81,270.16,2.30
81,81,Hurghada,0,EG,53,27.26,33.81,298.15,3.60
88,88,Erenhot,0,CN,52,43.65,111.98,270.69,5.29
93,93,Grimstad,0,NO,56,58.34,8.59,280.15,3.60
109,109,Marsh Harbour,0,BS,62,26.54,-77.06,295.98,4.51
110,110,Murowana Goślina,0,PL,69,52.57,17.01,281.48,1.00
124,124,Emerald,0,AU,88,-23.53,148.17,293.15,3.10
151,151,Charters Towers,0,AU,82,-20.10,146.27,293.75,3.91
167,167,Guerrero Negro,0,MX,45,27.98,-114.06,289.94,9.43
181,181,General Roca,0,AR,32,-39.03,-67.58,302.15,2.10
206,206,Gouvy,0,BE,76,50.19,5.94,282.15,1.00
207,207,Yar-Sale,0,RU,93,66.83,70.83,261.99,5.36
218,218,Imphal,0,IN,53,24.82,93.95,290.27,0.79
223,223,Yashalta,0,RU,52,46.34,42.28,281.08,7.26
233,233,Mujiayingzi,0,CN,57,42.12,118.78,269.37,3.31
276,276,Karlskrona,0,SE,80,56.16,15.59,275.15,1.00
291,291,Calabozo,0,VE,17,8.92,-67.43,311.37,2.48
301,301,Camalú,0,MX,47,30.85,-116.07,288.63,6.71
303,303,Viedma,0,AR,29,-40.81,-63.00,302.99,6.52
307,307,Ajdabiya,0,LY,40,30.76,20.23,287.59,2.12
340,340,Alice Springs,0,AU,42,-23.70,133.88,291.15,2.60
342,342,Broken Hill,0,AU,55,-31.95,141.43,292.15,3.10
345,345,Vallenar,0,CL,26,-28.57,-70.76,298.18,3.84
346,346,Zhanakorgan,0,KZ,47,43.91,67.25,280.96,3.78
366,366,Chapulco,0,MX,19,18.61,-97.42,304.26,2.68
378,378,San Quintín,0,MX,51,30.48,-115.95,288.27,8.07
406,406,Colchester,0,GB,56,51.89,0.90,280.93,4.60
409,409,Sayyan,0,YE,31,15.17,44.32,288.08,0.54
414,414,Bayan,0,CN,43,46.08,127.40,270.37,5.57
425,425,Litovko,0,RU,87,49.24,135.17,264.83,5.51
429,429,Najrān,0,SA,23,17.49,44.13,301.15,2.10
436,436,Ushtobe,0,KZ,60,45.25,77.98,276.47,0.60
445,445,Khovd,0,MN,51,48.01,91.64,267.76,3.01
470,470,Galle,0,LK,80,6.04,80.22,298.52,1.58
494,494,Puri,0,IN,94,19.80,85.85,300.15,4.28
507,507,Benghazi,0,LY,47,32.12,20.07,288.19,4.10
511,511,Lázaro Cárdenas,0,MX,59,17.96,-102.20,302.19,5.31
515,515,Kaitong,0,CN,75,44.81,123.15,267.96,4.06
530,530,Nawabshah,0,PK,60,26.25,68.41,295.15,4.10
538,538,Altay,0,CN,67,47.87,88.12,268.41,2.92
550,550,Esna,0,EG,31,25.29,32.55,298.15,3.10
556,556,Nāwa,0,IN,50,27.02,75.00,292.28,2.44
557,557,Mount Isa,0,AU,38,-20.73,139.50,297.15,3.10
561,561,Morondava,0,MG,80,-20.28,44.28,299.23,4.92

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [15]:
# Add marker layer ontop of heat map


# Display Map